.holder {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  border: 5px solid black;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.item {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  flex-wrap: wrap;
}
.item:nth-child(1) {
  order: -2;
  flex-basis: calc(100% / 2);
  border-top-left-radius: 25px;
  background-color: #fd644d;
}
.item:nth-child(2) {
  order: 1;
  flex-basis: calc(100% / 3);
  background-color: #4983b2;
}
.item:nth-child(3) {
  flex-basis: calc(100% / 3);
  background-color: #663797;
}
.item:nth-child(4) {
  order: 2;
  flex-basis: calc(100% / 3);
  background-color: #0e7f12;
}
.item:nth-child(5) {
  order: -1;
  flex-basis: calc(100% / 2);
  border-top-right-radius: 25px;
  background-color: #fda429;
}
